<h1>{{ question.question_text }}</h1>

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice  in question.choice_set.all %}
<p>
  <input type="radio" name="choice" id="choice{{choice.id}}" value="{{choice.id}}">
  <label for="choice{{choice.id}}">{{choice.choice_text}}</label>
</p>
{% endfor %}
<input type="submit" value="Vote"/>
</form>