{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<ul>
{% for question in questions %}
    <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
{% endfor %}
</ul>