{% extends "admin/base.html" %}

{% block title %}Django Polls{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Django Polls</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
